---
import Layout from '../layouts/Layout.astro';
import StatisticsPanel from '../components/StatisticsPanel';
---

<Layout title="Estadísticas - Sistema Braille">
  <main class="min-h-screen bg-gray-50">
    <StatisticsPanel client:load />
  </main>
</Layout> 